<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LoopBack example access control</title>
  </head>
  <body>
  <h1>Startkicker<% if (typeof username !== 'undefined') { %> - Welcome <%=
      username %><% } %></h1>
    <table border=1 cellpadding=5>
      <tr>
        <th>Function</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>AccessToken</td>
        <td><% if(typeof accessToken !== 'undefined') {%><%= accessToken %><% } %></td>
      </tr>
      <tr>
        <td>Shows all resources</td>
        <td><a href="/explorer/resources">resources</a></td>
      </tr>
      <tr>
        <td colspan=6><a href="/logout<% if (typeof accessToken !==
            'undefined') { %>?access_token=<%= accessToken %><% } %>">Log
            out</a></td>
      </tr>
    </table>
  </body>
</html>
